<article class="popup-a w600" data-title="upsell-popup">
  <ul class="l4cl upsell">
    <li {% if settings.fill_product_images %}class="cover"{% endif %}>
      <figure>
        <picture>
          <img src="" alt="" width="1260" height="290">
        </picture>
      </figure>
      <div>
        <p class="price s1pr"><span class="old-price"></span>&nbsp;</p>
      </div>
      <form action="./" role="none" class="f8pr" data-action="close" data-hold="2000">
        <fieldset>
          <select></select>
        </fieldset>
        <p data-class="close" class="link-btn"></p>
      </form>
    </li>
  </ul>
</article>