<div class="module-divider-wrapper section-width-{{ section.settings.width }}">
  <div class="module-divider desktop-only">
    <hr style="margin: 0 0 {{ section.settings.spacing_desktop }}px;">
  </div>
  <div class="module-divider desktop-hide">
    <hr style="margin: 0 0 {{ section.settings.spacing_mobile }}px;">
  </div>
</div>
{% if section.settings.width == 'wide' %}
  <style>
    #shopify-section-{{ section.id }} .module-divider-wrapper {
        left: min(var(--rpn), calc(-50vw + var(--glw) * 0.5 + var(--scrollbar_width) * 0.5));
        position: relative;
        width: 100vw;
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "t:sections.divider.name",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:global.layout.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:global.layout.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:global.layout.width.options__2.label"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -25,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 20
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -25,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.divider.presets.name",
     "category": "t:categories.layout"
    }
  ]
}
{% endschema %}
