/* hovers */
/*@media (hover: hover) {*/
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .m6fr a:hover { color: inherit; }


/*! Async - Mixins --------- */
/* show */	.l4ca footer p a:hover i, #nav-top > ul > li > ul li a:hover i, #nav-user > ul > li > ul a:hover i, .l4dr ul li a:hover i, #nav-top > ul > li > form ul li a:hover i, .m6fr.slider-fraction .swiper-custom-pagination .swiper-button-nav:hover { visibility: visible; opacity: 1; }
/* show */ 	#root .l4cl li:hover .check.color, #root .l4cl li:hover .check.plain, .n6br a:hover, a:hover .icon-print, #search .clear-toggle:hover:before, #root .l4ca.xpert section p.has-close a:hover i { visibility: visible; opacity: 1; }
/* tr:n*/	#root .l4cl li:hover .check.plain { transform: none; }
/* td:u */ 	#root a.text-no-underline:hover, #root .l4cl p:not(.link-btn) a:hover, #root .l4ft p a.strong span:hover, #root .l4cl.category a span:hover, .l4us a:hover, #nav-top .li > a:hover, .l4al a:hover, #root button.inline:hover, #root .l4cl a.link-more:hover, #root .l4cn a:hover, nav .l4in a:hover, #search div a:hover, #root .l4rv footer a:hover, .shopify-section-header li.overlay-theme > a:hover, #root .link-btn a.inline:hover, .l4ca p:not(.removed) a:hover, .n6pg li a:hover, .l4cl a:hover, a.strong:hover, .n6br a:hover, a.overlay-content:hover, .l4dr ul li a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, #root .l4ca li a.link-more:hover, a.overlay-gray:hover, a.overlay-c:hover, #root .l4ft a.strong span:hover, .spr-pagination > div > * a:hover, #root .f8fl .check .link-more a:hover, #root .f8fl .check a.link-more:hover, .submit > a:hover, #root .l4cl a.strong:hover, #root .l4ml a.link-more:hover { text-decoration: underline; }
/* td:n */ 	#root .l4cl.inline-links p a:hover, .shopify-section-footer .l4us a:hover, #nav-top > .l4us a:hover, #nav-top > .l4us .longer a.linked:hover, #root #nav-user > ul > li > a:hover i span, #root .l4cn.box a:hover, #root .shopify-section-footer .l4cn a:hover, #root .l4rv footer .size-12 a:hover, .size-12 a.overlay-content:hover, .l4rv h1 a.small:hover, .l4rv h2 a.small:hover, .l4rv h3 a.small:hover, .l4rv h4 a.small:hover, .l4rv h5 a.small:hover, .l4rv h6 a.small:hover, .l4rv p a:hover, #nav .m6cn p a:hover, #nav-bar .m6cn p a:hover, a:hover, #root .l4ft p a.strong, a.overlay-content.text-underline:hover { text-decoration: none; }

#root .l4cl p:not(.link-btn, .link-more) a:has(i):hover { text-decoration: none; }
#root .l4cl p:not(.link-btn, .link-more) a:has(i):hover span { text-decoration: none; }
#root a.strong.link-more:hover, #root .l4cl a.strong.link-more:hover { text-decoration: underline; }



/*! Async - Layout --------- */
#nav-top > ul > li > a:hover, .shopify-section-header .l4us.s4wi .swiper-button-nav:hover, #root .shopify-section-header .l4us a.next-item:hover, #nav-user > ul > li.link-btn > a:hover { color: var(--custom_top_up_fg_hover); }
#nav-top > ul > li > a:hover path { fill: var(--custom_top_up_fg_hover); }
#nav-user > ul > li > a:hover [class*="icon-heart"] { animation: heart 1s infinite; opacity: 1 !important; }

.hover-inv #root #header-inner > .link-btn a.inv:hover, .hover-inv #root #nav-user > ul > li.link-btn > a.inv:hover { color: var(--custom_top_main_link_text); }
html:not(.hover-inv) #header-inner > .link-btn a.inv:hover:before, html:not(.hover-inv) #nav-user > ul > li.link-btn > a.inv:hover:before { background: none; }
.shopify-section-header > .link-btn a:hover:before,  #header > .link-btn a:not(.inv):hover:before, #header-inner > .link-btn a:not(.inv):hover:before,  #root #nav-user > ul > li > a:hover i span:before, #nav-user > ul > li.link-btn > a:hover:before { background-color: var(--custom_top_main_link_dark); }

/*.shopify-section-header {}*/
	.shopify-section-header a:hover { color: var(--custom_drop_nav_fg_hover); }
	#nav > ul > li:hover > ul, #nav-bar > ul > li:hover > ul { display: flex; visibility: hidden; top: 100%; flex-wrap: nowrap; }
	#nav-top > ul > li > ul li a:hover span, #nav-user > ul > li > ul a:hover span, .l4dr ul li a:hover span, #nav-top > ul > li > form ul li a:hover span, #nav-user > ul > li > .localization-form ul li a:hover span { opacity: 1; }
	#nav-user > ul > li > ul a:hover { color: var(--custom_drop_nav_fg_hover); }
	.m2a.has-first-m6fr-wide .shopify-section-header.transparent.tr_h:hover:not(.fixed) #nav > ul, .m2a.has-first-m6fr-wide .shopify-section-header.transparent.tr_h:hover:not(.fixed) #nav.ul-hover, .m2a.has-first-m6fr-wide .shopify-section-header.transparent.tr_h:hover:not(.fixed) #nav:before { border-radius: 0px 0px var(--b2r) var(--b2r); }
	.has-first-m6fr-wide .shopify-section-header.transparent.tr_h:hover:not(.fixed) #nav-bar:not(.fixed) > ul > li > ul, .has-first-m6fr-wide:not(.m2a) .shopify-section-header.transparent.tr_h:hover:not(.fixed) #nav-bar:not(.fixed) .sub-static > ul { border-radius: 0px 0px var(--b2r) var(--b2r); }
	.m2a #root .shopify-section-header #nav > ul > li:hover { z-index: 18; }
	#nav-user > ul > li > form a:hover { text-decoration: none; }
	#nav-user > ul > li:hover > ul, #nav-top > ul > li:hover > ul, .l4dr li:hover > ul, #nav-user > ul > li:hover > form { display: block; }
	.js #nav-user > ul > li:hover > ul, .js #nav-top > ul > li:hover > ul, .js .l4dr li:hover > ul, .js .l4dr li:hover > ul.l4sc.box, .js #nav-user > ul > li:hover > form { display: none; }
	.js #nav-user > ul > li.toggle:hover > ul, .js #nav-top > ul > li.toggle:hover > ul, .js .l4dr li.toggle:hover > ul, .js #nav-user > ul > li.toggle:hover > form { display: block; }
	
#root .shopify-cleanslate button:hover { text-decoration: none !important; }


/*! Async - Modules --------- */
.shopify-section-announcement-bar a:hover { color: inherit; }

.datepicker-cell:hover:before { background: var(--custom_input_fg); opacity: .05; }
.datepicker-cell.selected:hover:before { background: var(--secondary_bg); opacity: 1; }	

.fancybox__container .carousel__button:hover { color: var(--secondary_bg) !important; }
[data-theme="xclusive"] .fancybox__container .carousel__button:hover:after, [data-theme="xpert"] .fancybox__container .carousel__button:hover:after { opacity: var(--arrow_op_h); }
	
.m6bx[class^=palette-] .m6kn a:hover { color: inherit; }
.m6kn:not(.type) a:hover { text-decoration: underline; }

#root .m6pn .l4ca.compact:not(.no-hover) > li:hover:after { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: calc(0px - var(--pdi)); right: calc(0px - var(--pdi)); z-index: -1; }
	
.nav-main a:hover { text-decoration: underline; }
		
#root .l4cl.box a.remove:hover { color: var(--secondary_bg); opacity: 1; }
.swiper-pagination-bullet:hover:before, .s1tt a:hover ~ .icon-info, a.s1tt:hover .icon-info { visibility: visible; opacity: 1; }
.recommendation-modal__close-button-container button:hover { width: 44px !important; min-width: 44px !important; height: 44px !important; margin: 0 !important; box-shadow: none !important; color: var(--secondary_bg) !important; font-size: var(--size_12_f) !important; text-align: left; text-indent: -3000em; direction: ltr; outline: none !important; }
	.recommendation-modal__container .recommendation-modal__button--minimal:hover { width: 100% !important; text-decoration: none !important; outline: none !important; text-decoration: underline !important; }
	
	

/*! Async - Content --------- */
a.hover-theme:hover, #search .clear-toggle:hover, #root .l4ca.xpert section p.has-close a:hover { color: var(--secondary_bg); text-decoration: none; } 

.l4dr ul li a:hover i, label a.show:hover, .input-amount a[role="button"]:hover, .l4dr li.has-social:hover > a i, #root .popup-a .box-inset > .close:hover, .n6as a:hover, .swiper-button-nav:hover, #root .l4ca footer p a:hover i, .l4ca footer p a:hover i, .n6br a:hover, .swiper-button-nav:hover, #nav-top > ul > li > form ul li a:hover, .l4sc a:hover, .l4dr ul li a:hover, #root .l4dr ul a:hover, figure a .icon-play:hover, #root .l4dr a:hover, .recommendation-modal__close-button-container button:hover, #root .l4us a.next-item:hover, .m6pn > .m6pn-close:hover, .s1tt a:hover ~ .icon-info, a.s1tt:hover .icon-info, a:hover i.overlay-gray { color: var(--secondary_bg); }
.m6pn > .m6pn-close:hover { opacity: 1; }
#root .l4cl h1 a:hover, #root .l4cl h2 a:hover, #root .l4cl h3 a:hover, #root .l4cl h4 a:hover, #root .l4cl h5 a:hover, #root .l4cl h6 a:hover { color: inherit; text-decoration: underline; }
#root .l4cl.upsell p:not(.link-btn) a:hover { text-decoration: underline; }

#nav > ul > li > a:hover, #nav-bar > ul > li > a:hover { color: var(--custom_top_nav_fg_hover); }
#nav > ul > li.empty-url > a:hover, #nav-bar > ul > li.empty-url > a:hover { color: var(--custom_top_nav_fg); }
m2a .shopify-section-header #nav > ul > li > a:hover ~ a.toggle, .m2a .shopify-section-header #nav > ul > li:hover > a, .m2a .shopify-section-header #nav-bar > ul > li > a:hover ~ a.toggle, .m2a .shopify-section-header #nav-bar > ul > li:hover > a, #nav-user > ul > li > ul a:hover { color: var(--custom_drop_nav_fg_hover); }
#nav-top > ul > li > ul li > a:hover, #nav > ul > li > ul ul li > a:hover, #nav-bar > ul > li > ul ul li > a:hover, #nav-top > ul > li > ul li > a:hover, #nav-top > ul > li > ul li> a:hover i, #nav-user > ul > li > ul > a:hover i { color: var(--custom_drop_nav_fg_hover); }

a.overlay-gray:hover, a.overlay-c:hover, .l4al .overlay-gray > i { color: var(--gray_text); }

.link-btn a.inv:hover, button.inv:hover, .inv-btn button:hover { color: var(--secondary_bg_btn); }
.link-btn a.inline:hover { background: none; /*color: var(--secondary_bg);*/ }
.link-btn a.overlay-content:hover, button.overlay-content:hover, .overlay-content button:hover, .link-btn.tags a:hover, #root .l4cn.box li a:hover:before { animation-name: var(--pulse_dark); }
.link-btn a.overlay-gradient:not(.inv, .inline):hover, button.overlay-gradient:not(.inv, .inline):hover, .overlay-gradient button:not(.inv, .inline):hover { animation-name: var(--pulse_custom); }

a.strong:not(.link-more):has(i):hover { text-decoration: none; }
a.strong:not(.link-more):has(i):hover span:not(.s1bx) { text-decoration: underline; }

	
/*! Async - Links --------- */		
a:hover .icon-chevron-right { transform: translateX(3px); }
a:hover .icon-chevron-left { transform: translateX(-3px); }
	
.recommendation-modal__container .recommendation-modal__content > .recommendation-modal__button--minimal:last-child:hover { text-decoration: none; }
	
input[type="submit"]:hover { box-shadow: 0 0 15px 5px rgba(0,0,0,0); color: var(--secondary_btn_text); }
.l4sc.strong a:hover i { box-shadow: 0 0 15px 5px rgba(0,0,0,0); }
.l4sc.strong.hover-move-up a:hover i { transform: translateY(-10%); }
.l4sc.strong.hover-move-up.inv a:hover i { animation: none; box-shadow: none; }
input[type="submit"]:hover, .l4sc.strong a:hover i { animation: var(--pulse) .75s; }
	
	

/*! Async - Lists --------- */
.l4ca footer p a:hover i.icon-trash:before { content: "\e93a"; }
#root .m6pn .l4ca.compact:not(.no-hover) > li:not(.has-l4ml):hover:after, #search .l4ca.compact:not(.no-hover) > li:not(.has-l4ml):hover:after { border-width: 0; border-color: var(--custom_drop_nav_fg); background: var(--custom_drop_nav_fg); opacity: .04; }
#root .m6pn .l4ca.compact:not(.no-hover) li:not(.has-l4ml):hover .r6rt .rating > * .fill, #search .l4ca.compact:not(.no-hover) li:not(.has-l4ml):hover .r6rt .rating > * .fill { /*border-width: 0;*/ background: var(--sand); }
	
.l4ft.zoom li:hover > figure img, .l4ft.zoom li:hover > figure video, .l4ft.zoom li:hover > figure iframe,
.l4ft.zoom li:hover .main > figure img, .l4ft.zoom li:hover .main > figure video, .l4ft.zoom li:hover .main > figure iframe { transform: scale(1.1); }	

/*.l4al {}*/
	#root .l4al .close:hover { color: inherit; }
	
/*.l4ft {}*/
	.no-mobile .l4ft.hover-out:hover > li:not(:hover):after { opacity: 0.7; }
	.no-mobile .l4ft.hover-out:hover > li:hover:after { visibility: hidden; opacity: 0; }
	.no-mobile .l4ft.hover-out:hover > li:hover figure ~ div { opacity: 1; }
	
/*.l4ca {}*/
	.l4ca .removed a:hover, #root .l4ml .removed a:hover { text-decoration: none; }	
	
/*.l4cl {}*/
	#root .l4cl p:not(.link-btn) a.overlay-content:not(:has(.link-underline)):hover { color: var(--secondary_bg); text-decoration: none; }
	.l4cl li:hover .link-btn a { position: relative; left: 0; }
	.l4cl li:hover .link-btn, .l4cl li:hover form.sticky, #root .l4pr:hover .swiper-outer ~ .swiper-custom-pagination .swiper-button-nav:not(.swiper-button-disabled), #root .l4pr .swiper-button-nav:not(.swiper-button-disabled):hover {
		transform: none;
		visibility: visible; opacity: 1; 
	}
	#root .l4cl li:hover figure .link-btn, #root .l4cl li:hover figure form { visibility: visible; opacity: 1; }
	.l4cl picture { transition-duration: .2s; }
	.l4cl figure > a.remove:hover i { background: var(--secondary_bg); }
	.l4cl.align-stretch li:has(a):hover:before, #root .l4cl.align-stretch li:has(a):hover figure, .l4cl.align-center li:has(a):hover:before, #root .l4cl.align-center li:has(a):hover figure { border-color: var(--secondary_bg); }	
	#root .l4cl li:hover figure picture .swiper-button-nav { display: block; }
		#root .l4cl li:not(.second-img-first):hover figure:has(picture ~ picture) picture { opacity: 0; }
		#root .l4cl .second-img-first:hover picture ~ picture { opacity: 0; }
		#root .l4cl li:not(.second-img-first):hover figure:has(picture ~ picture) picture ~ picture, #root .l4cl .second-img-first:hover figure:has(picture ~ picture) picture:first-of-type { opacity: 1; }

		#root .l4cl .has-picture-picture:not(.second-img-first):hover figure picture { opacity: 0; }
		#root .l4cl .has-picture-picture:not(.second-img-first):hover figure picture ~ picture, #root .l4cl .has-picture-picture.second-img-first:hover figure picture:first-of-type { opacity: 1; }
/*.l4cl.category {}*/
	/*.l4cl.category a span, .l4ft p a.strong span { position: relative; z-index: 9; }*/
	.l4cl.category:not(.s4wi, .dont-move) li:not(.dont-move):hover, .l4cl.static:not(.s4wi, .dont-move) li:not(.dont-move):hover, .l4ne:not(.s4wi, .dont-move) li:not(.dont-move):hover, .l4ft:not(.s4wi, .dont-move) li:not(.dont-move):hover { transform: translateY(-10px); }
	.m6ac .l4ft li:hover { transform: none; }
	.l4cl.category li:hover a:after, .l4cl.static li:hover a:after, .l4ne li:hover a:before { bottom: -10px; }
	.l4ne li:hover .link-btn a:before { bottom: 0; }
/*.l4cl.inline {}*/
	.l4cl.inline li:hover { transform: scale(1.1); }
	.l4cl.inline.s4wi li:hover { transform: none; }

/*.l4dr {}*/
	#root .l4dr ul li a:hover { color: var(--custom_drop_nav_fg_hover); }
	.l4dr li:hover > ul.l4sc.box, .js .l4dr li.toggle:hover > ul.l4sc.box { display: flex; flex-wrap: wrap; }
			
/*.l4ft {}*/
	.l4ft p a:hover { color: inherit; }
	
/*.l4hs {}*/
	#root .l4hs > li > a:hover:after { box-shadow: 0 0 15px 5px rgba(0,0,0,0); animation: pulse .75s; }

/*.l4ml {}*/
	.l4ml a:hover .icon-trash, .l4ml a:hover [class*="icon-x"] { color: var(--secondary_bg); opacity: 1; }
	.l4ml a:hover .icon-trash:before { content: "\e93a"; }
	
/*.l4rv {}*/
	.l4rv .spr-review-footer a:hover { color: inherit; }
	.l4rv .spr-starrating a.spr-icon-star-hover, .no-js .l4rv .spr-starrating:hover a { color: var(--secondary_bg); }
	.no-js .l4rv .spr-starrating:hover a:hover ~ a { color: var(--alto); }
				
/*.l4vw {}*/
	.l4vw li a:hover { opacity: 1; }
	.l4vw li:hover .icon-view-grid:before { content: "\e91b"; }
	.l4vw li:hover .icon-view-square:before { content: "\e98e"; }


/*! Async - Forms --------- */		
input:-webkit-autofill, input:-webkit-autofill:hover,  input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px var(--custom_input_bg) inset !important; }
			
input[type="button"]:not(.inv):hover, input[type="reset"]:not(.inv):hover, input[type="submit"]:not(.inv):hover { border-color: var(--secondary_bg_btn_dark); background: var(--secondary_bg_btn_dark); color: var(--secondary_btn_text); }
button:hover, .shopify-section-header .link-btn a:hover, .link-btn a:hover, #nav-user > ul > li > a:hover i span, .n6pg li.prev a:hover, .n6pg li.next a:hover, .l4cn.box li a:hover:before, #totop a:hover, .spr-pagination > div > .spr-pagination-prev a:hover, .spr-pagination > div > .spr-pagination-next a:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { box-shadow: 0 0 15px 5px rgba(0,0,0,0); color: var(--secondary_btn_text); }
input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:hover, .link-btn a:hover, #nav-user > ul > li > a:hover i span, .n6pg li.prev a:hover, .n6pg li.next a:hover, .l4cn.box li a:hover:before, #totop a:hover, .spr-pagination > div > .spr-pagination-prev a:hover, .spr-pagination > div > .spr-pagination-next a:hover { animation: var(--pulse) .75s; }
button:hover:before, .link-btn a:hover:before, .n6pg li.prev a:hover:after, .n6pg li.next a:hover:after, #totop a:hover:before { border: 0 solid var(--secondary_bg_btn_dark); background: var(--secondary_bg_btn_dark); }
.n6pg li.prev a:hover, .n6pg li.next a:hover, .spr-pagination > div > .spr-pagination-prev a:hover, .spr-pagination > div > .spr-pagination-next a:hover, .l4sc.strong a:hover i { 
	border-color: var(--secondary_bg_btn_dark); background: var(--secondary_bg_btn_dark);
	animation-name: var(--pulse);
}
.shopify-payment-button div[role="button"]:not(:hover), .shopify-payment-button button:not(:hover) { animation: none !important; }

.l4cl figure .check.plain a:hover { color: inherit; text-decoration: underline; }
.check input:not([disabled]) ~ label:hover:before { border-color: var(--secondary_bg); }
.check input.disabled ~ label:hover:before { border-color: var(--alto); }
.check.wide > *:hover { background: var(--sand); }
.check.wide > *:hover label:before { border-color: var(--secondary_bg); }
	#root .check.color label:hover { border-color: var(--secondary_bg); }
.f8fl header label:hover, .f8fl header li:not(.strong) a:hover { color: inherit; text-decoration: underline; }

.bv_mainselect .bv_ul_inner .li a:hover:before { background: var(--custom_input_fg); opacity: .05; }	
#root .f8sr .bv_mainselect .bv_ul_inner a:hover { background: none; color: var(--secondary_bg); }

.f8fl header ul li.strong a:hover { text-decoration: none; }


/*! Async - Helpers --------- */
#root .m6fr:not(.slider-fraction):hover .swiper-button-nav { visibility: visible; opacity: 1; transform: none; }
#nav > ul > li:hover:after, #nav-bar > ul > li:hover:after, .l4ft li:hover > .main picture ~ picture, .l4ft li:hover > .main picture ~ video, .l4ft li:hover > .main video ~ picture, .l4ft li:hover > .main video ~ video { display: block; }


/* hovers */


@media only screen and (min-width: 1001px) /*and (hover: hover)*/ {
#header-outer li.show-all:hover:before { border-color: var(--custom_top_main_link_bg); background: var(--custom_top_main_link_bg); opacity: 1; }
#header-outer li.show-all:hover:after { color: var(--custom_top_main_link_text); }

.shopify-section-header > .link-btn a:hover, #header > .link-btn a:hover, #header-inner > .link-btn a:hover, #root #nav-user > ul > li > a:hover i span, #nav-user > ul > li.link-btn > a:hover { animation-name: var(--pulse_header); }
}
@media only screen and (max-width: 1000px) /*and (hover: hover)*/ {
.shopify-section-header > .link-btn a:hover:before, #header > .link-btn a:hover:before, #header-inner > .link-btn a:hover:before, .shopify-section-header > .link-btn a:hover, #header > .link-btn a:hover, #header-inner > .link-btn a:hover, #root #nav-user > ul > li > a:hover i span { animation: none; background: none; }
}
/*@media (hover: hover) {*/
.shopify-section-footer > div a:hover { color: var(--custom_footer_fg_bottom_hover); }
.shopify-section-footer .link-btn a:hover:before, .shopify-section-footer button:hover:before { background-color: var(--custom_footer_link_dark); }
.shopify-section-footer .link-btn a:hover, .shopify-section-footer button:hover { animation-name: var(--pulse_footer); }
.shopify-section-footer > nav a:hover, .shopify-section-footer a:hover { color: var(--custom_footer_fg_hover); }
.shopify-section-announcement-bar a.close:hover, .m6pn > .m6pn-close:hover { color: inherit; }
.shopify-section-announcement-bar > a.close:hover, .m6pn > .m6pn-close:hover, .popup-a .box-inset > .close:hover, .fancybox__container .carousel__button.fancybox__button--close:hover, .fancybox__content > .carousel__button.is-close:hover, .l4al a.close:hover, .recommendation-modal__close-button-container button:hover:after, .m6pn-close:hover, .f8fl > .f8fl-toggle:hover { transform: rotate(90deg); }
/*}*/

@media only screen and (min-width: 761px) /*and (hover: hover)*/ {
#root #nav-user > ul > li.link-btn > a:hover { animation-name: var(--pulse_header); }
}
	
/*@media (hover: hover) {*/
.has-first-m6fr-wide.tr_hh .shopify-section-header.transparent.has-no-wide:not(.fixed):before { display: block; }
.has-first-m6fr-wide.tr_hh .shopify-section-header.transparent.has-no-wide:not(.fixed) #nav-outer:before { display: none; }

.has-first-m6fr-wide.tr_hh .shopify-section-header.transparent.tr_h:before { /*border-width: 0;*/ border-bottom-width: 1px; background: var(--custom_top_main_bg); opacity: 1; }

.has-first-m6fr-wide.tr_hh .shopify-section-header.transparent.tr_h:not(.fixed) #nav:before, .has-first-m6fr-wide.tr_hh .shopify-section-header.transparent.tr_h:not(.fixed) #nav-bar:before { border-bottom-width: 1px; }

.has-first-m6fr-wide.tr_hh:not(.m2a) .shopify-section-header.transparent.tr_h:not(.fixed) #nav.no-wide:after, .has-first-m6fr-wide:not(.m2a) .shopify-section-header.transparent.tr_h:not(.fixed) #nav-bar.no-wide:after { background: var(--custom_top_nav_bg); }

.has-first-m6fr-wide.tr_hh:not(.m2a) .shopify-section-header.transparent.tr_h:not(.fixed) #nav:not(.fixed):before, 
.has-first-m6fr-wide.tr_hh:not(.m2a) .shopify-section-header.transparent.tr_h:not(.fixed) #nav-bar:not(.fixed):before { background: var(--custom_top_nav_bg); opacity: 1; }
/*}*/
@media only screen and (max-width: 760px) /*and (hover: hover)*/ {
.has-first-m6fr-wide.tr_hh:not(.m2a) .shopify-section-header:not(.fixed) #search.no-bg:before { background: var(--custom_top_search_bg_cont); opacity: 1; }
}
	
/*@media (hover: hover) {*/
	html .recommendation-modal__container .recommendation-modal__close-button-container button:hover { width: 44px !important; min-width: 44px !important; outline: none !important; }
	html .recommendation-modal__container .recommendation-modal__button--minimal:hover { width: 100% !important; min-width: 100% !important; outline: none !important; }
/*}*/


/*! Async - Links --------- */
/*@media (hover: hover) {*/
.hover-inv .link-btn a:not(.overlay-gradient):hover, .hover-inv button:not(.overlay-gradient):hover { color: var(--secondary_bg_btn); --btn_bc_h: var(--secondary_bg_btn); --btn_bg_h: none; }
.hover-inv .link-btn a:not(.overlay-gradient):hover:before, .hover-inv button:not(.overlay-gradient):hover:before { border-color: var(--secondary_bg_btn); border-width: var(--btn_bd); background: none; }
.hover-inv .link-btn a:not(.overlay-gradient, .shadow):hover:before, .hover-inv button:not(.overlay-gradient, .shadow):hover:before { box-shadow: none; }

.hover-inv .link-btn a.inv:hover, .hover-inv button.inv:hover, .hover-inv .inv-btn button:hover { color: var(--secondary_btn_text); --btn_bc_h: var(--secondary_bg_btn); --btn_bg_h: var(--secondary_bg_btn); }
.hover-inv #root .link-btn a.inv.overlay-content:hover, .hover-inv #root button.inv.overlay-content:hover { color: var(--secondary_btn_text); --btn_bc_h: var(--secondary_bg_btn); --btn_bg_h: var(--secondary_bg_btn); }
			
.hover-inv #root .link-btn a.inv:hover, .hover-inv #root button.inv:hover, .hover-inv #root .inv-btn button:hover { color: var(--secondary_btn_text); }
			
.hover-inv #root .n6pg.inv li.prev a:hover, .hover-inv #root .n6pg.inv li.next a:hover, .hover-inv #root .spr-pagination.inv .spr-pagination-prev a:hover, .hover-inv #root .spr-pagination.inv .spr-pagination-next a:hover, .hover-inv #root .l4sc.strong.inv a:hover i { box-shadow: none; border-width: var(--btn_bd); background: var(--secondary_bg); color: var(--secondary_text); }

.hover-inv #root .shopify-section-footer .link-btn a.inv:hover:before, .hover-inv #root .shopify-section-footer button.inv:hover:before { border-color: var(--custom_footer_link_bg); }
.hover-inv #root .shopify-section-footer .link-btn a.inv:hover, .hover-inv #root .shopify-section-footer button.inv:hover { color: var(--custom_footer_link_text); }
.hover-inv #root .shopify-section-footer .link-btn a.inv:hover:before, .hover-inv #root .shopify-section-footer button.inv:hover:before { border-color: var(--custom_footer_link_bg); border-width: var(--btn_bd); background-color: var(--custom_footer_link_bg); }
.hover-inv #header > .link-btn a.inv:hover, .hover-inv #header-inner > .link-btn a.inv:hover { color: var(--custom_top_main_link_text); } 
.hover-inv #header > .link-btn a.inv:hover:before, .hover-inv #header-inner > .link-btn a.inv:hover:before { border-color: var(--custom_top_main_link_bg); border-width: var(--btn_bd); background-color: var(--custom_top_main_link_bg); }

.hover-inv #root .inv-btn input[type="button"]:hover, .hover-inv #root .inv-btn input[type="reset"]:hover, .hover-inv #root .inv-btn input[type="submit"]:hover { padding: calc(var(--btn_pv) - var(--btn_bd)) calc(var(--btn_ph) - var(--btn_bd)); box-shadow: none; border-color: var(--secondary_bg_btn); border-width: var(--btn_bd); background-color: var(--secondary_bg_btn); color: var(--white); }
/*}*/

/* no-hover-pulse */
/*@media (hover: hover) {*/
.no-hover-pulse .link-btn a.inv:hover, .no-hover-pulse button.inv:hover, .no-hover-pulse .inv-btn button:hover { color: var(--secondary_btn_text); --btn_bc_h: var(--secondary_bg_btn); --btn_bg_h: var(--secondary_bg_btn); }
.no-hover-pulse #root .link-btn a.inv.overlay-content:hover, .no-hover-pulse #root button.inv.overlay-content:hover { color: var(--secondary_btn_text); --btn_bc_h: var(--secondary_bg_btn); --btn_bg_h: var(--secondary_bg_btn); }
			
.no-hover-pulse #root .link-btn a.inv:hover, .no-hover-pulse #root button.inv:hover, .no-hover-pulse #root .inv-btn button:hover { color: var(--secondary_btn_text); }
			
.no-hover-pulse #root .n6pg.inv li.prev a:hover, .no-hover-pulse #root .n6pg.inv li.next a:hover, .no-hover-pulse #root .spr-pagination.inv .spr-pagination-prev a:hover, .no-hover-pulse #root .spr-pagination.inv .spr-pagination-next a:hover, .no-hover-pulse #root .l4sc.strong.inv a:hover i { box-shadow: none; border-width: var(--btn_bd); background: var(--secondary_bg); color: var(--secondary_text); }

.no-hover-pulse #root .shopify-section-footer .link-btn a.inv:hover:before, .no-hover-pulse #root .shopify-section-footer button.inv:hover:before { border-color: var(--custom_footer_link_bg); }
.no-hover-pulse #root .shopify-section-footer .link-btn a.inv:hover, .no-hover-pulse #root .shopify-section-footer button.inv:hover { color: var(--custom_footer_link_text); }
.no-hover-pulse #root .shopify-section-footer .link-btn a.inv:hover:before, .no-hover-pulse #root .shopify-section-footer button.inv:hover:before { border-color: var(--custom_footer_link_bg); border-width: var(--btn_bd); background-color: var(--custom_footer_link_bg); }
.no-hover-pulse #header > .link-btn a.inv:hover, .no-hover-pulse #header-inner > .link-btn a.inv:hover  { color: var(--custom_top_main_link_text); } 
.no-hover-pulse #header > .link-btn a.inv:hover:before, .no-hover-pulse #header-inner > .link-btn a.inv:hover:before { border-color: var(--custom_top_main_link_bg); border-width: var(--btn_bd); background-color: var(--custom_top_main_link_bg); }

.no-hover-pulse #root .inv-btn input[type="button"]:hover, .no-hover-pulse #root .inv-btn input[type="reset"]:hover, .no-hover-pulse #root .inv-btn input[type="submit"]:hover { padding: calc(var(--btn_pv) - var(--btn_bd)) calc(var(--btn_ph) - var(--btn_bd)); box-shadow: none; border-color: var(--secondary_bg_btn); border-width: var(--btn_bd); background-color: var(--secondary_bg_btn); color: var(--white); }
/*}*/


/*! Lists --------- */
/*.l4pr {}*/
@media only screen and (min-width: 1101px), only screen and (min-width: 761px) and (max-width: 1000px) /*and (hover: hover)*/ { /* 1100-, 760-1000 */
	.l4pr.aside-pager.s4wi .swiper-button-nav:hover:before { color: var(--secondary_bg); }
}
	
/*! Responsive --------- */
@media only screen and (min-width: 1001px) /*and (hover: hover)*/ {
.m2a #root .shopify-section-header #nav.ul-hover > ul > li.hover.sub > a:hover { z-index: 20; }
				
#root .shopify-section-header .sub-static > ul li:not(.no-sub):hover > ul { display: block; }
html:not(.m2a) #root .sub-static > ul a:hover, html:not(.m2a) #root .sub-static > ul li:hover > a, html.m2a #root .sub-static > ul > li > a:hover { color: var(--custom_drop_nav_fg_hover); }
html:not(.m2a) #nav .sub-static:hover > ul, html:not(.m2a) #nav-bar .sub-static:hover > ul { display: block; }			
.has-first-m6fr-wide #root #nav > ul > li > a:hover:after, .has-first-m6fr-wide #root #nav-bar > ul > li > a:hover:after, #root #nav.hr > ul > li > a:hover:after, #root #nav-bar.hr > ul > li > a:hover:after { width: var(--bd_w); }

#nav > ul > li > a:after, #nav-bar > ul > li > a:after { content: ""; display: block; overflow: hidden; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; text-align: left; text-indent: -3000em; direction: ltr; }
#nav > ul > li:hover > a { z-index: 9; }
#nav > ul > li.sub:hover > a:after, #nav-bar > ul > li.sub:hover > a:after { left: -24px; right: -24px; top: -10px; bottom: -8px; transform: perspective(200px) rotateX(45deg); }
}
@media only screen and (max-width: 1000px) /*and (hover: hover)*/ {
#root #nav > ul > li:not(.link-btn) > a:hover, #root #nav > ul > li:not(.link-btn) > a:hover { color: inherit; font-weight: var(--main_fw_strong); cursor: pointer; }
#nav > a.close:hover:before { transform: rotate(90deg); }
#nav .l4cn li a:hover { color: var(--custom_drop_nav_fg_hover); }
.hover-inv #root .shopify-section-header #nav ul .l4ft li .link-btn a:hover { color: var(--secondary_bg_btn); }
.hover-inv #root .shopify-section-header #nav ul .l4ft li .link-btn a.inv:hover { color: var(--secondary_btn_text); }
}
@media only screen and (min-width: 761px) and (max-width: 1200px) /*and (hover: hover)*/ {
#nav > ul > li.sub:hover > a:after, #nav-bar > ul > li.sub:hover > a:after { left: -16px; right: -16px; }
}
@media only screen and (min-width: 761px) and (max-width: 1100px) /*and (hover: hover)*/ {
#nav > ul > li.sub:hover > a:after, #nav-bar > ul > li.sub:hover > a:after { left: -12px; right: -12px; }
}
@media only screen and (min-width: 761px) /*and (hover: hover)*/ {
	
#root .l4cl .second-img-hover:has(picture ~ picture):hover picture { display: none; }
#root .l4cl .second-img-hover:has(picture ~ picture):hover picture ~ picture { display: block; }
#root .l4cl .second-img-hover.second-img-first:has(picture ~ picture):hover picture, #root .l4cl.second-img-first .second-img-hover:has(picture ~ picture):hover picture { display: block; }
#root .l4cl .second-img-hover.second-img-first:has(picture ~ picture):hover picture ~ picture, #root .l4cl.second-img-first .second-img-hover:has(picture ~ picture):hover picture ~ picture { display: none; }

#root .l4cl .second-img-hover.has-picture-picture:hover picture { display: none; }
#root .l4cl .second-img-hover.has-picture-picture:hover picture ~ picture { display: block; }
#root .l4cl .second-img-hover.second-img-first.has-picture-picture:hover picture { display: block; }
#root .l4cl .second-img-hover.second-img-first.has-picture-picture:hover picture ~ picture { display: none; }
}
@media only screen and (max-width: 760px) /*and (hover: hover)*/ { /* 760 */
#root .link-btn a.inline-mobile:hover { box-shadow: none; background: none; color: var(--secondary_bg); text-decoration: underline; }
#root .link-btn a.inline-mobile.overlay-content:hover { color: var(--primary_text); }
#root .link-btn a.inline-mobile.overlay-tertiary:hover { color: var(--tertiary_bg); }
#root .link-btn a.inline-mobile.overlay-quaternary:hover { color: var(--quaternary_bg); }
#root .link-btn a.inline-mobile.overlay-coal:hover { color: var(--primary_text); }
#root .link-btn a.inline-mobile.overlay-white:hover { color: var(--white); }
}