/*! .l4ne - blog list --------- */
.shopify-section:has(.l4ne) { position: relative; }
.l4ne { 
	list-style: none; margin: min(12px, calc(var(--main_mr) * 0.4615384615)) 0 calc(var(--main_mr) - var(--dist2)) calc(0px - var(--dist)); padding: 0; font-size: var(--main_fz); --label_dist: 10px; --dist: 16px; --dist2: var(--dist); --hm: calc(var(--main_mr_h) * .25); --feat_w: min(638px, 50vw); --img_h: auto;
	display: flex; flex-wrap: wrap; align-items: flex-start;
}
	.l4ne:first-child, .l4ne-figure-before:first-child + .l4ne, link:first-child + .l4ne, link:first-child + .l4ne-figure-before:first-child + .l4ne { margin-top: 0; }
	.l4ne:not([class*="width-"]) { --width: 33.333333333333%; }
	.l4ne li { display: flex; position: relative; width: var(--width); max-width: none; margin: 0 0 var(--dist2); border: 0 solid rgba(0,0,0,0); border-left-width: var(--dist); flex-direction: column; }
	.l4ne figure { display: block; overflow: hidden; height: auto; border-radius: var(--b2p); }
		.l4ne figure svg, #root .l4ne figure img, .l4ne figure picture, .l4ne figure video { display: block; width: 100% !important; height: var(--img_h) !important; object-fit: cover; object-position: var(--ip_hor) var(--ip_ver); }
		.l4ne figure svg { width: auto !important; max-width: none !important; }
	.l4ne h1, .l4ne h2, .l4ne h3, .l4ne h4, .l4ne h5, .l4ne h6 { margin: 0 0 var(--hm); line-height: var(--main_lh_l); }
		.l4ne h1 .small, .l4ne h2 .small, .l4ne h3 .small, .l4ne h4 .small, .l4ne h5 .small, .l4ne h6 .small { margin-bottom: calc(var(--hm) * 2); font-size: var(--main_fz_small); }
	/* Async */	
	.l4ne .link-btn { position: relative; z-index: 9; pointer-events: none; }
		.l4ne .link-btn:not(:first-child) { margin-top: calc(var(--main_mr) * .5); }
		.l4ne .link-btn > * { pointer-events: auto; }
	/* end of: Async */
.l4ne [class*="orientation"], .l4ne[class*="orientation"] img, .l4ne[style*="--ratio"], .l4ne [style*="--ratio"] { --img_h: 100%; }


/*! Responsive --------- */
@media only screen and (min-width: 761px) {
.l4ne.featured { display: grid; grid-template-columns: var(--feat_w) 1fr 1fr; }
	.l4ne.featured li { width: 100%; }
	.l4ne.featured li:first-child { grid-column: 1 / 2; grid-row: 1 / 100; }
.l4ne.featured.bf-item li:first-child { align-self: stretch; --img_h: 100%; }
	.l4ne.featured.bf-item li:first-child > figure:first-child { flex-grow: 3; }
	.l4ne.featured.bf-item li:first-child > figure { display: flex; }
	.l4ne.featured.bf-item li:first-child > figure * { align-self: stretch; }
	.l4ne.featured.bf-item li:first-child > div { flex-shrink: 0; }
/*
-- legacy, float-based
.l4ne.featured { display: block; padding-left: var(--feat_w); }	
	.l4ne.featured:after { content: ""; display: block; overflow: hidden; clear: both; }
	.l4ne.featured li { float: var(--text_align_start); width: 50%;}
		.l4ne.featured li:nth-child(2n+4) { clear: var(--text_align_start); }
		.l4ne.featured li:first-child { left: -100%; float: var(--text_align_end); clear: none; width: var(--feat_w); margin-left: calc(0px - var(--feat_w)); }
[dir="rtl"] .l4ne.featured { padding-left: 0; padding-right: var(--feat_w); }
	[dir="rtl"] .l4ne.featured li:first-child { left: auto; right: -100%; margin-right: calc(0px - var(--feat_w)); margin-left: 0; }
-- END OF: legacy, float-based
*/
}
@media only screen and (max-width: 760px) {
.l4ne { overflow-x: auto; overflow-y: hidden; margin-right: var(--rpn); margin-left: var(--rpn); margin-bottom: 16px; padding-left: 0; padding-right: 0; --li_w: 224px; --li_d: 16px; }
	.l4ne li { float: none; width: 100%; max-width: none; border-left-width: var(--li_d); flex-shrink: 0; }
		.l4ne:not(.l4ne-figure-before) li { width: var(--li_w); }
		[dir="ltr"] .l4ne > li:first-child, [dir="ltr"] .l4ne > li.mobile-hide:first-child + li { width: calc(var(--li_w) - var(--li_d) + var(--rpp)); border-left-width: var(--rpp); }
		[dir="ltr"] .l4ne > li:last-child { width: calc(var(--li_w) + var(--rpp)); border-right-width: var(--rpp); }
		[dir="rtl"] .l4ne > li:first-child, [dir="rtl"] .l4ne > li.mobile-hide:first-child + li { width: calc(var(--li_w) + var(--li_d) + var(--rpp)); border-right-width: var(--rpp); }
		[dir="rtl"] .l4ne > li:last-child { width: calc(var(--li_w) - var(--li_d) + var(--rpp)); border-left-width: var(--rpp); }
	.cols + *:has(>.l4ne:first-child) { margin-top: 10px; }
	.l4ne:not(.wide) { flex-wrap: nowrap; }
#root .l4ne.wide { overflow: visible; margin-left: var(--li_d); margin-right: 0; }
	#root .l4ne.wide li { width: 50%; min-width: 0; max-width: none; border-right-width: 0; border-left-width: var(--li_d); }
	
.l4ne-figure-before, #root .l4ne-figure-before.l4ne { display: block; overflow: visible; margin-left: 0; margin-right: 0; }
	#root .l4ne-figure-before.l4ne li { left: 0; right: 0; float: none; width: 100%; min-width: 0; max-width: none; padding: 0; border-width: 0; }
	.l4ne-figure-before + .l4ne > li:first-child { display: none; }
}
/*! END OF: .l4ne - blog list --------- */
