/*! .m6kn - module kinetic text --------- */
.shopify-section:has(.m6kn) { position: relative; }	

.m6kn { min-height: var(--mih); margin-bottom: var(--main_mr); line-height: var(--main_lh_h); --mih: 0px; }
	.m6kn.size-xs { --mih: 260px; }
	.m6kn.size-s { --mih: 390px; }
	.m6kn.size-m { --mih: 520px; }
	.m6kn.size-l { --mih: 700px; }
	.m6kn ul { list-style: none; padding: 0; line-height: var(--main_lh_h); }
	.m6kn:first-child, link:first-child + .m6kn { margin-top: 0; }
.m6kn:not(.type) { white-space: nowrap; }
	.m6kn:not(.type):not([style*="--dist:"]) li:after { content: "\00a0"; }
	.m6kn figure { margin: 0; flex-shrink: 0; }
.m6kn:not(.type) { overflow: visible; position: relative; z-index: 2; line-height: var(--main_lh_h); --duration: 20s; --durr: 10s; --dist: 0px; }
	.m6kn:not(.type) li { position: relative; z-index: 2; margin-right: var(--dist); }
	.m6kn:not(.type) a { color: inherit; text-decoration: none; }
	.m6kn.dot:not(.type) li:after { content: "\2022"; position: absolute; left: 100%; top: 0; bottom: 0; width: var(--dist); text-align: center; }
	.m6kn.dot:not(.type) { --dist: var(--rpp); }
	.m6kn:not(.type) .clone { position: absolute; right: var(--l1ra); left: var(--lar1); top: 0; bottom: 0; }
	.m6kn.m6bx:not(.type) .clone { top: var(--dist_a); }
	.m6bx:not(.wide):has(.m6kn), .m6kn.m6bx:not(.wide) { overflow: hidden; }
.m6kn.type:not(.done) { visibility: hidden; opacity: 0; pointer-events: none; }
	.m6kn.type li { list-style: none; }
#root .m6kn:not(.done) > ul ~ ul { display: none; }

@media only screen and (max-width: 760px) {
.m6kn.size-50 { font-size: var(--size_20_f); }
}


/*! Flexbox --------- */
.m6kn:not(.type), .m6kn:not(.type) ul, .m6kn.type[style*="--mih"], .m6kn.dot:not(.type) li:after, .m6kn:not(.type), .m6kn:not(.type) ul { display: flex; }
.m6kn.dot:not(.type) li:after { justify-content: center; }
.m6kn, .m6kn:not(.type) ul, .m6kn.type[style*="--mih"], .m6kn.dot:not(.type) li:after, .m6kn:not(.type) .cols { align-items: center; }
.m6kn:not(.type) ul, .m6kn:not(.type) li, .m6kn:not(.type) li * { flex-shrink: 0; }


/*! Async --------- */
/*.no-js .m6kn, .m6kn.type li ~ li { display: none; }
.m6kn.done:not(.type) { white-space: nowrap; }*/
	.m6kn.slow:not(.type) { --durr: 25s; }
	.m6kn.fast:not(.type) { --durr: 5s; }
	.m6kn[style*="--items"]:not(.type) { --duration: calc(var(--items) * var(--durr)); }
	.m6kn:not(.type) ul { animation: scroll var(--duration) linear infinite; animation-delay: .1s; }
	.m6kn:not(.type) li { position: relative; z-index: 2; margin-right: var(--dist); }
.m6kn.inv ul, [dir="rtl"] .m6kn ul { animation-direction: reverse; }
[dir="rtl"] .m6kn.inv ul { animation-direction: normal; }
.Typewriter__cursor { font-weight: var(--main_fw); }
.m6kn.type .inner { display: block; width: 100%; }
	.m6bx.m6kn.type .inner, .m6bx .m6kn.type .inner { margin-bottom: var(--main_mr); }


/*! Animations --------- */
@keyframes scroll { 0% { transform: none; } 100% { transform: translateX(-100%); }}


/*! Responsive --------- */
@media only screen and (max-width: 1356px) {
.m6kn.size-m { --mih: 37.8571428571vw; }
.m6kn.size-l { --mih: 50.76628352vw; }
}
@media only screen and (max-width: 760px) {
.m6kn.size-xs-mobile { --mih: 0px !important; }
.m6kn.size-s-mobile { --mih: 140px !important; }
.m6kn.size-m-mobile { --mih: 195px !important; }
.m6kn.size-l-mobile { --mih: 260px !important; }
}