



@font-face {
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.d15c916037fee1656886aab64725534609d62cc8.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.c88637171fecf10ab2d88c89dbf06f41a1ae8be5.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.b2a3f24c19b4de56e8871f609e73ca7f6d2e2bb9.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.af8052d517e0c9ffac7b814872cecc27ae1fa132.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n1.d6922fc1524d5070cfbded04544fe03b84246904.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n1.4a488d8300a3cf27d2b5e3a3b05110d1df51da98.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n2.63379874490a31b1ac686c7c9582ebe8c6a05610.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n2.f9faac0477da33ae7acd0ad3758c9bcf18cab36b.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n3.6faba940d2e90c9f1c2e0c5c2750b84af59fecc0.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n3.413aa818ec2103383c4ac7c3744c464d04b4db49.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.b2a3f24c19b4de56e8871f609e73ca7f6d2e2bb9.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.af8052d517e0c9ffac7b814872cecc27ae1fa132.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n5.d7101d5e168594dd06f56f290dd759fba5431d97.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n5.5332a76bbd27da00474c136abb1ca3cbbf259068.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n6.771af0474a71b3797eb38f3487d6fb79d43b6877.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n6.88c903d8f9e157d48b73b7777d0642925bcecde7.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n7.02711e6b374660cfc7915d1afc1c204e633421e4.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n7.6dab87426f6b8813070abd79972ceaf2f8d3b012.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.d15c916037fee1656886aab64725534609d62cc8.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.c88637171fecf10ab2d88c89dbf06f41a1ae8be5.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n9.5eeac4b640934cb12c98bb58e5b212c8a842a731.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n9.a68b28f7e46ea1faab81e409809ee4919dd6e3f0.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n1.d6922fc1524d5070cfbded04544fe03b84246904.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n1.4a488d8300a3cf27d2b5e3a3b05110d1df51da98.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n2.63379874490a31b1ac686c7c9582ebe8c6a05610.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n2.f9faac0477da33ae7acd0ad3758c9bcf18cab36b.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n3.6faba940d2e90c9f1c2e0c5c2750b84af59fecc0.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n3.413aa818ec2103383c4ac7c3744c464d04b4db49.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.b2a3f24c19b4de56e8871f609e73ca7f6d2e2bb9.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n4.af8052d517e0c9ffac7b814872cecc27ae1fa132.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n5.d7101d5e168594dd06f56f290dd759fba5431d97.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n5.5332a76bbd27da00474c136abb1ca3cbbf259068.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n6.771af0474a71b3797eb38f3487d6fb79d43b6877.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n6.88c903d8f9e157d48b73b7777d0642925bcecde7.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n7.02711e6b374660cfc7915d1afc1c204e633421e4.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n7.6dab87426f6b8813070abd79972ceaf2f8d3b012.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.d15c916037fee1656886aab64725534609d62cc8.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n8.c88637171fecf10ab2d88c89dbf06f41a1ae8be5.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_n9.5eeac4b640934cb12c98bb58e5b212c8a842a731.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_n9.a68b28f7e46ea1faab81e409809ee4919dd6e3f0.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_i4.feae1981dda792ab80d117249d9c7e0f1017e5b3.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_i4.62773b7113d5e5f02c71486623cf828884c85c6e.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("//www.lampenlee.de/cdn/fonts/inter/inter_i7.b377bcd4cc0f160622a22d638ae7e2cd9b86ea4c.woff2") format("woff2"),
       url("//www.lampenlee.de/cdn/fonts/inter/inter_i7.7c69a6a34e3bb44fcf6f975857e13b9a9b25beb4.woff") format("woff");
}

@font-face { font-family: 'i'; src: url(//www.lampenlee.de/cdn/shop/t/12/assets/xtra.woff2?v=74598006880499421301766955032) format('woff2'), url(//www.lampenlee.de/cdn/shop/t/12/assets/xtra.woff?v=112884414208285247051766955032) format('woff'); font-display: swap; }

:root {
  --secondary_text:     var(--white);
  --secondary_text:     var(--white);
  --link_underline_c:   var(--primary_bg_btn);

  --buy_btn_text:      #000000;
  --buy_btn_bg:        #fbcb3c;
  --buy_btn_bg_dark:   #fac423;
  --buy_button_bg: var(--buy_btn_bg);
  --buy_button_fg: var(--buy_btn_text);
  --buy_button_bg_dark:  var(--buy_btn_bg_dark);

  --dynamic_buy_btn_text:    #ffffff;
  --dynamic_buy_btn_bg:      #0b1613;
  --dynamic_buy_btn_bg_dark: #020504;
  --dynamic_buy_button_bg: var(--dynamic_buy_btn_bg);
  --dynamic_buy_button_fg: var(--dynamic_buy_btn_text);
  --dynamic_buy_button_bg_dark:  var(--dynamic_buy_btn_bg_dark);

  --unavailable_buy_btn_text:    #ffffff;
  --unavailable_buy_btn_bg:      #e5e5e5;
  --unavailable_buy_btn_bg_dark: #d8d8d8;

  --custom_top_search_bg:var(--body_bg);;

  --alert_error:        #e93d3d;
  --alert_valid:        #000000;
  --lime:               #000000;
  --gallery:            ;
  --sand:               ;

  --secondary_bg:       var(--primary_bg_btn);
  --light: 				var(--bg_secondary);
  --custom_bd:          var(--custom_input_bd);

  --product_label_bg:   #12262f;
  --product_label_bg_dark:#0b171d;
  --product_label_text: #ffffff;
  --sale_label_bg:      #e93d3d;
  --sale_label_bg_dark: #e62626;
  --sale_label_text:    #ffffff;
  --product_label_bg_custom: ;
  --product_label_text_custom: ;

  --positive_bg:        #000000;
  --positive_bg_dark:   #000000;
  --positive_fg:	      var(--white);

  --custom_drop_nav_bg:         var(--scheme-1_bg);
  --custom_drop_nav_fg:         var(--scheme-1_fg);
  --custom_drop_nav_fg_text:    var(--scheme-1_fg);
  --custom_drop_nav_fg_hover:   var(--scheme-1_btn_bg);
  --custom_drop_nav_head_bg:    var(--scheme-1_bg_var);
  --custom_drop_nav_head_fg:    var(--scheme-1_fg);
  --custom_drop_nav_bd:         var(--scheme-1_bd);
  --custom_drop_nav_input_bg:   var(--scheme-1_input_bg);
  --custom_drop_nav_input_fg:   var(--scheme-1_input_fg);
  --custom_drop_nav_input_bd:   var(--custom_drop_nav_bd);
  --custom_drop_nav_input_pl:   var(--custom_drop_nav_input_fg);
  --custom_top_search_bg_cont:  var(--scheme-1_bg_secondary);

  --price_color:        #912634;
  --price_color_old:    #e93d3d;

  --multiply_bg_product:  var(--scheme-3);
  --multiply_bg_collection: var(--scheme-3);

  --main_ff:            Inter, sans-serif;
  --main_ff_h:          Inter, sans-serif;
  --main_fw:            400;
  --main_fw_strong:     700;
  --main_fw_bold:       var(--main_fw_strong);
  --breadcrumbs_fz:     13px;
  --main_fw_h:          800;
  --main_fw_h_strong:   800;
  --main_fw_secondary_h:400;
  --main_fw_secondary_h_strong: 700;
  --main_fw_bold:       var(--main_fw_strong);
  --main_fs_h:          normal;
  --main_ls_h:          0.0em;
  --main_tt_h:          none;
  --main_lh_h:          1.15;


  --main_ff:            Inter, sans-serif;
  --main_fs:            normal;

  --main_tt:            none;

  --main_fw:            400;
  --main_fw_strong:     700;


  --main_ls:            0.0em;
  --main_lh:            1.85;
  --main_fz_scale:      1.0;
  --main_fz:            calc(var(--main_fz_scale) * 1.4rem);
  --base_fz_scale:      1.3;
  --base_fz:            calc(var(--base_fz_scale) * 1.4rem);
  --base_fz_small:      calc(var(--base_fz_scale) * 1.4rem - 0.2rem);

  --main_h1:            26px;
  --main_h2:            20px;
  --main_h3:            17px;
  --main_h4:            15px;
  --main_h5:            11px;
  --main_h6:            11px;

  --mob_h1:             23px;
  --mob_h2:             20px;
  --mob_h3:             16px;
  --mob_h4:             13px;
  --mob_h5:             11px;
  --mob_h6:             11px;
  --mob_fz:             14px;

  
    --btn_ph: calc(18px * 1.5);
    --btn_pv: calc(14px * 1.35);
  

  
    --btn_br: 4px;
    --b2i: var(--btn_br);
  
    --btn_fw:            600;
    --btn_tt:          none;


  --price_ff:            Inter, sans-serif;
  --price_fs:            normal;

  --price_fw:            900;

  

  --ratio: 1;

  --glw: 10000px;
  --glw_boxed: 1200px; /* for example 1400px */
}
.shopify-section:has(>.section-width-boxed, >.section-width-wide), .cols.section-width-boxed { width: 100%; max-width: var(--glw); margin-left: auto; margin-right: auto; }
.shopify-section:has(>.section-width-boxed), .cols.section-width-boxed { --glw: var(--glw_boxed); }
html.t1ac {
	--secondary_bg_btn:      ;
	--secondary_bg_btn_dark: ;
	--secondary_bg_btn_fade: ;

  --tertiary_bg:        #cd9a04;
  --tertiary_bg_dark:   #9b7503;
	--tertiary_bg_fade:   #fbcb3c;

  --quaternary_bg:      #000000;
  --quaternary_bg_dark: #000000;
  --quaternary_bg_fade: #0b1613;

  --main_h1:            28px;
  --main_h2:            21px;
  --main_h3:            20px;
  --main_h4:            16px;
  --main_h5:            15px;
  --main_h6:            15px;

  --mob_h1:             23px;
  --mob_h2:             20px;
  --mob_h3:             16px;
  --mob_h4:             13px;
  --mob_h5:             11px;
  --mob_h_small:        11px;
}

html { font-size: 10px; }

.base-font {
  font-size: var(--base_fz);
  --price_fz: var(--base_fz);
  --main_fz: var(--base_fz);
  --placeholder_fz: var(--base_fz);
  --main_fz_small: var(--base_fz_small);
  --main_mr: calc(var(--main_lh) * var(--base_fz));
  --main_mr_h: calc(var(--main_mr) * 0.4615384615);
  --box_size: calc(var(--main_fz) * 1.2857142857);
}
.base-font-small {
  font-size: var(--base_fz_small) !important;
  --main_fz: var(--base_fz_small);
  --placeholder_fz: var(--base_fz_small);
}

.title-styling h1, .title-styling h2, .title-styling h3, .title-styling h4, .title-styling h5, .title-styling h6 {
  margin-top: 0;
}
.title-styling h1:has(+ *), .title-styling h2:has(+ *), .title-styling h3:has(+ *), .title-styling h4:has(+ *), .title-styling h5:has(+ *), .title-styling h6:has(+ *) {
  margin-bottom: calc(var(--main_mr) * 0.4615384615) !important;
}

.ff-primary, .ff-primary-digit .simply-amount, .l4ft li > .content .ff-primary {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-weight: var(--main_fw_h);
  font-style: normal;
  --main_fw_strong: var(--main_fw_h_strong);
  letter-spacing: 0.0em;
}
.ff-secondary, .ff-secondary-digit .simply-amount, .l4ft li > .content .ff-secondary  {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-style: normal;
  --main_fw_strong: var(--main_fw_h_strong);
  letter-spacing: 0.0em;
}
.ff-primary p, .l4ft li > .content .ff-primary p,
.ff-secondary p, .l4ft li > .content p .ff-secondary p {
  text-transform: none;
}
#nav-top.ff-primary, #nav-top.ff-secondary {
  letter-spacing: var(--main_ls);
  text-transform: none;
}

.overlay-preorder {
  --secondary_btn_text:     #ffffff;
  --secondary_bg_btn:       #ffc25b;
  --secondary_bg_btn_dark:  #ffaf28;
  --secondary_bg_btn_fade:  #ffd58e;
}

.overlay-primary { --primary_bg: var(--primary_bg_btn); --primary_text: var(--primary_btn_text); }
.overlay-secondary { --secondary_bg: var(--secondary_bg_btn); --primary_bg: var(--secondary_bg_btn); --primary_text: var(--secondary_btn_text); }
.overlay-tertiary, .link-btn.overlay-tertiary a, .link-btn a.overlay-tertiary, button.overlay-tertiary, .overlay-tertiary button, .s1bx.overlay-tertiary { --tertiary_bg: var(--tertiary_bg_btn); --primary_bg: var(--tertiary_bg_btn); --primary_text: var(--tertiary_btn_text); --secondary_btn_text: var(--tertiary_btn_text); --secondary_bg: var(--tertiary_bg); --secondary_bg_btn: var(--tertiary_bg_btn); --secondary_bg_btn_dark: var(--tertiary_bg_btn_dark); }
button:not([class*="overlay-"]), .link-btn:not([class*="overlay-"]) a:not([class*="overlay-"]), #nav-user > ul > li > a i span, #totop a, .overlay-primary, .link-btn.overlay-primary a, .link-btn a.overlay-primary, button.overlay-primary, .overlay-primary button, .s1bx.overlay-primary {
  --secondary_btn_text: var(--primary_btn_text);
  --secondary_bg: var(--primary_bg_btn);
  --secondary_bg_btn: var(--primary_bg_btn);
  --secondary_bg_btn_dark: var(--primary_bg_btn_dark);
}
.link-btn a.overlay-buy_button, button.overlay-buy_button, .overlay-buy_button button, .s1bx.overlay-buy_button, a.overlay-buy_button { /* used to be overlay-tertiary, but this name has been taken over to be used for the tertiary button in the color schemes*/
  --secondary_btn_text: var(--buy_btn_text);
  --secondary_bg: var(--buy_btn_bg);
  --secondary_bg_btn: var(--buy_btn_bg);
  --secondary_bg_btn_dark: var(--buy_btn_bg_dark);
}
.link-btn a.overlay-dynamic_buy_button, button.overlay-dynamic_buy_button, .overlay-dynamic_buy_button button, .s1bx.overlay-dynamic_buy_button, a.overlay-dynamic_buy_button { /* used to be overlay-quaternary, but this might conflict in the future when more button colors are added */
  --secondary_btn_text: var(--dynamic_buy_btn_text);
  --secondary_bg: var(--dynamic_buy_btn_bg);
  --secondary_bg_btn: var(--dynamic_buy_btn_bg);
  --secondary_bg_btn_dark: var(--dynamic_buy_btn_bg_dark);
}
.link-btn a.overlay-unavailable_buy_button, button.overlay-unavailable_buy_button, .overlay-unavailable_buy_button button, .s1bx.overlay-unavailable_buy_button { /* used to be overlay-quinary, but this might conflict in the future when more button colors are added */
  --secondary_btn_text: var(--unavailable_buy_btn_text);
  --secondary_bg: var(--unavailable_buy_btn_bg);
  --secondary_bg_btn: var(--unavailable_buy_btn_bg);
  --secondary_bg_btn_dark: var(--unavailable_buy_btn_bg_dark);
}
.link-btn a.overlay-secondary_bg, button.overlay-secondary_bg, .overlay-secondary_bg button, .s1bx.overlay-secondary_bg {
  --secondary_btn_text: var(--primary_text);
  --secondary_bg: var(--bg_secondary);
  --secondary_bg_btn: var(--secondary_bg);
  --secondary_bg_btn_dark: var(--secondary_bg_btn);
}
.overlay-primary, .overlay-secondary, .overlay-tertiary, .overlay-buy_button, .overlay-dynamic_buy_button, .overlay-unavailable_buy_button { --link_underline_c: var(--secondary_bg); }

.l4al > .overlay-primary { color: var(--primary_btn_text); --primary_text: var(--primary_btn_text); }
#root .l4al > .overlay-primary:before { background: var(--primary_bg_btn); opacity: 1; }
.l4al > .overlay-secondary { color: var(--secondary_btn_text); --primary_text: var(--secondary_btn_text); }
#root .l4al > .overlay-primary:before { background: var(--secondary_bg_btn); opacity: 1; }
.l4al > .overlay-tertiary { color: var(--tertiary_btn_text); --primary_text: var(--tertiary_btn_text); }
#root .l4al > .overlay-tertiary:before { background: var(--tertiary_bg_btn); opacity: 1; }
.l4al > .overlay-buy_button { color: var(--buy_btn_text); --primary_text: var(--buy_btn_text); }
#root .l4al > .overlay-buy_button:before { background: var(--buy_btn_bg); opacity: 1; }
.l4al > .overlay-dynamic_buy_button { color: var(--dynamic_buy_btn_text); --primary_text: var(--dynamic_buy_btn_text);}
#root .l4al > .overlay-dynamic_buy_button:before { background: var(--dynamic_buy_btn_bg); opacity: 1; }
.m6tx a.overlay-primary, .m6tx a.overlay-secondary, .m6tx a.overlay-tertiary, .m6tx a.overlay-buy_button, .m6tx a.overlay-dynamic_buy_button, .m6tx a.overlay-unavailable_buy_button, .m6tx a.overlay-secondary_bg { color: var(--secondary_bg); }


.module-color-palette[class*="palette-"].img-overlay, .module-color-palette[class*="palette-"] .img-overlay, #background.module-color-palette[class*="palette-"] .img-overlay { background: var(--primary_bg); }
.module-color-palette[class*="palette-"] h1, .module-color-palette[class*="palette-"] h2, .module-color-palette[class*="palette-"] h3, .module-color-palette[class*="palette-"] h4, .module-color-palette[class*="palette-"] h5, .module-color-palette[class*="palette-"] h6, .module-color-palette[class*="palette-"] .ff-heading { color: var(--headings_text); }
.module-color-palette[class*="palette-"] h1 > span.small, .module-color-palette[class*="palette-"] h2 > span.small, .module-color-palette[class*="palette-"] h3 > span.small, .module-color-palette[class*="palette-"] h4 > span.small, .module-color-palette[class*="palette-"] h5 > span.small, .module-color-palette[class*="palette-"] h6 > span.small { color: var(--headings_text_solid); text-fill-color: currentcolor; -webkit-text-fill-color: currentcolor; }
.module-color-palette[class*="palette-"] ~ .content h1, .module-color-palette[class*="palette-"] ~ .content h2, .module-color-palette[class*="palette-"] ~ .content h3, .module-color-palette[class*="palette-"] ~ .content h4, .module-color-palette[class*="palette-"] ~ .content h5, .module-color-palette[class*="palette-"] ~ .content h6 { color: var(--headings_text, var(--primary_text_h)); }
.module-color-palette[class*="palette-"] { color: var(--primary_text); }
.module-color-palette[class*="palette-"] .swiper-button-next, .module-color-palette[class*="palette-"] .swiper-button-prev { color: var(--primary_text); }
.module-color-palette[class*='palette-']:before { background: var(--primary_bg); }
[class*="palette-"] button:not(.loading), [class*="palette-"] input[type="button"], [class*="palette-"] input[type="reset"], [class*="palette-"] input[type="submit"], [class*="palette-"] .link-btn a:not(.loading) { color: var(--secondary_btn_text); }
[data-active-content*="palette-"] .swiper-custom-pagination, [data-active-content*="palette-"] .play-pause { color: var(--primary_text); }

.m6bx[class*="palette-"] > p, .m6bx[class*="palette-"] > p, .m6bx[class*="palette-"] > h2, .m6bx[class*="palette-"] > strong, .m6bx[class*="palette-"] > em, .m6bx[class*="palette-"] > ul { color: var(--primary_text); }
aside .m6bx.overlay[class*="palette-"] > p >  a { color: var(--primary_text); }
.m6bx[class*="palette-"] .l4cn.box a { color: var(--black); }
.m6bx[class*="palette-"]:before { background: var(--primary_bg); }
.m6bx[class*="palette-"].overlay:before { border: none; }
[data-whatintent=mouse] .m6bx[class*="palette-"] .l4cn li a:hover { color: var(--accent); }
.m6bx[class*="palette-"] .r6rt .rating > * .fill { background: none; }
.m6bx.inline[class*="palette-"]:not(.palette-white):before { border-width: 0; }
.m6bx .l4cl { margin-bottom: 24px; }

.m6as[class*="palette-"]:before { background: var(--primary_bg); }
.l4ft.hover-out li[class*="palette-"]:before { background: none; }
.l4al li[class*="palette-"]:before { background: var(--primary_bg); }
.l4al li[class*="palette-"]:not(.palette-white):before { border-width: 0; }
#root .m6cp > footer { background: var(--bg_secondary); }
#root .s1bx:not([class*="overlay-"]) {  color: var(--primary_btn_text); }
.link-underline { color: var(--link_underline_c); }

/* Typography */
.title-underline-none :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] { text-decoration: none!important; }
.title-underline-accent :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] { color: var(--accent); }
.title-underline-gradient :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] {
  background: var(--accent_gradient);
  background-clip: text; -webkit-background-clip: text;
  text-fill-color: transparent; -webkit-text-fill-color: transparent;
}
.title-underline-secondary-font :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0em;
}
.title-underline-secondary-font :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] strong, .title-underline-secondary-font :is(h1, h2, h3, h4, h5, h6) span[style*="text-decoration:underline"] b {
  font-weight: 700;
}

/* Other*/select, .bv_atual, select:focus, #root .f8sr select, #root .f8sr select:focus { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 5.7' style='enable-background:new 0 0 9 5.7' xml:space='preserve'%3E%3Cpath d='M8.4.2C8.2.1 8 0 7.8 0s-.3.1-.5.2L4.5 3 1.7.2C1.5.1 1.4 0 1.2 0S.8.1.6.2L.2.6C.1.8 0 1 0 1.2s.1.4.2.5L4 5.5c.1.1.3.2.5.2s.4-.1.5-.2l3.8-3.8c.1-.1.2-.3.2-.5S8.9.8 8.8.6L8.4.2z' style='fill:%23'/%3E%3C/svg%3E"); }
label span.text-end.hidden, #root span.f8pr-pickup.hidden { display: none; }
.image-compare figure { width: 100%; }
@media only screen and (max-width: 47.5em) {
  .accordion-a.compact + .accordion-a { margin-top: -10px; }
  .shopify-section-header { --input_h: 44px; }
}
@media only screen and (max-width: 62.5em) {
  #root .l4ft.mobile-compact li:not(:first-child) {
    border-left-width: var(--dist_a);
  }
}
@media only screen and (min-width: 47.5em) {
  .shopify-section-footer > div > .follow-on-shop { margin-left: 30px; }
}
[data-whatintent=mouse] .l4cl .li:hover figure picture ~ picture { display: block; } /* was only defined for li, not for .li */
.l4ft figure video { transition-property: all; transition-duration: .4s; transition-timing-function: cubic-bezier(.4,0,.2,1); transition-delay: 0s; } /* video in promo gallery, hover scale transition was not animated */
#nav-bar.text-justify > ul, #nav.text-justify > ul { -webkit-flex-grow: 3; -ms-flex-grow: 3; flex-grow: 3; -webkit-justify-content: space-between; justify-content: space-between; } /* 1/2 text-justify for the navbar */
#nav-bar.text-justify > ul > li.show-all, #nav.text-justify > ul > li.show-all { position: absolute; left: var(--lar0); right: var(--l0ra); top: 0; } /* 2/2 text-justify for the navbar */
.form-m-14 > p { margin-bottom: 14px; }
#root .datepicker-input { background-size: auto max(18px, calc(var(--input_h) - var(--main_fz) * 4)); }
#root .l4ca.compact.in-panel section > section { width: 100%; }

/* Buttons */




/* .disabled-style for productpage variantpickers */
.check input~label.disabled-style { color: var(--gray); }
.bv_mainselect .bv_ul_inner .li.disabled-style .text { opacity: .53; }
[data-whatintent=mouse] .check input:not([checked])~label.disabled-style:not([disabled]):hover:before { border-color: var(--custom_input_bd); }
#root .check.box input ~ label.disabled-style img, #root .check.wide input ~ label.disabled-style ~ * { opacity: .35; }
#root .check.color input ~ label.disabled-style, #root .check.color input ~ label.disabled-style { border-color: var(--custom_input_bd); }
#root .check.color input[checked] ~ label.disabled-style, #root .check.color input[checked] ~ label.disabled-style:after { border-color: var(--alert_error); }
#root .check.color input ~ label.disabled-style:after, #root .check.color input ~ label.disabled-style:after { content: ""; display: block; position: absolute; left: -10px; top: 50%; right: -10px; width: auto; height: 1px; margin-top: -0.5px; border-top: 1px solid var(--custom_input_bd); background: none; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
#root [data-class="close"]:has(.disabled) {
  pointer-events: none;
}
.l4cl figure picture.svg {
  background: #85858559;
  opacity: 0.3;
}

.no-bd-radius { border-radius: 0; --b2p: 0px; --b2r: 0px; }
/* Swatches *//*.check label.align-middle {}*/
.check figure { --b2p: var(--b2r); }
.check figure.rounded { --b2r: 9999px; }
.check label.align-middle:before, .check label.align-middle:after { top: 50%; margin-top: calc(0px - var(--box_size) * 0.5); }
#root .check label.align-middle > i, .check label.align-middle figure { display: block; top: 0; width: var(--img_s); height: var(--img_s); margin: 5px 10px 5px 0; font-size: var(--img_s); line-height: 1; }
.check label.align-middle { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; align-items: center; }
.check { --box_size: calc(var(--main_fz) * 1.2857142857); --img_s: var(--box_size); }
.check label.align-middle:before, .check label.align-middle:after { top: 50%; margin-top: calc(0px - var(--box_size) * 0.5); }
.check label.align-middle img { display: block; height: var(--img_s) !important; }
.check label.align-middle .size-xs { --img_s: var(--box_size); }
.check label.align-middle .size-s { --img_s: 30px; }
.check label.align-middle .size-m { --img_s: 45px; }
.check label.align-middle .size-l { --img_s: 60px; }
.f8fl .check label.align-middle > span { opacity: 1; }
@media only screen and (max-width: 1000px) {
  .js .f8fl .toggle+.check label.align-middle, .js .f8fl .check input:checked~label.align-middle { display: -moz-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
} 
.align-center { --justify-content-m6fr: center; }
.align-bottom { --justify-content-m6fr: flex-end; }
.align-start { --justify-content-m6fr: flex-start; }

:root { --placeholder_fz: var(--main_fz)!important; }
#root .l4hs .price .old-price { --price_color_old: #e93d3d!important; }

.f8pr shopify-accelerated-checkout { --shopify-accelerated-checkout-button-block-size: calc(var(--btn_pv) * 2 + var(--btn_fz) * var(--btn_lh)); --shopify-accelerated-checkout-button-border-radius: var(--btn_br); width: 100%; margin-top: 0; }

@media only screen and (min-width: 760px) {
  .m6fr.size-xl article, .m6fr article.size-xl {
    --mih: calc(100vh - var(--header_height_static) - var(--nav_top_h)) !important;
    min-height: var(--mih) !important;
  }
}
@media only screen and (max-width: 760px) {
  .m6fr.size-xl-mobile, .m6fr .size-xl-mobile {
    
  }
}

@media only screen and (max-width: 760px) {
  #nav.no-wide:after, #nav-bar.no-wide:after {
    z-index: -2;
    background: var(--custom_drop_nav_head_bg);
  }
}
@media only screen and (min-width: 1000px) {
  nav.nav-scroll-wrapper > .nav-scroll { width: inherit!important; }
  html.nav-hover .nav-scroll-wrapper:has(.nav-scroll):not(:has(li.promo:hover)):not(:hover),
  html:not(.nav-hover, .editor-nav-hover) .nav-scroll-wrapper:has(.nav-scroll):not(:has(li.promo:hover)),
  html:not(.nav-hover, .editor-nav-hover) .nav-scroll-wrapper:has(.nav-scroll):not(:has(li.promo:hover)):hover { position: relative!important; }
  html.nav-hover #header-inner .nav-scroll-wrapper:has(.nav-scroll):has(li:hover):not(:has(li.promo:hover)) > .nav-scroll:after,
  html.nav-hover #header-inner .nav-scroll-wrapper:has(.nav-scroll):has(li:hover):not(:has(li.promo:hover)) > .nav-scroll:before { display: none!important; }
  nav.nav-scroll-wrapper.dropdown:has(.nav-scroll):not(:has(li.promo:hover)) { position: relative!important;}
  nav.nav-scroll-wrapper:not(.bm-a):has(.nav-scroll):not(:has([data-type="main-nav"])) { padding-right: calc(var(--nav_dist) * 2)!important; }
  nav.nav-scroll-wrapper .nav-scroll:not(.no-scroll) { overflow-x: auto!important; -webkit-overflow-scrolling: touch!important; }
  html:not(.search-compact-active) .nav-scroll::-webkit-scrollbar{ height: 4px!important; width: 4px!important; background: gray!important; border-radius: 10px!important; }
  html:not(.search-compact-active) .nav-scroll::-webkit-scrollbar-track { background: var(--custom_top_nav_scrollbar_bg)!important; border-radius: 10px!important;}
  html:not(.search-compact-active) .nav-scroll::-webkit-scrollbar-thumb { background: var(--custom_top_nav_fg)!important; border-radius: 10px!important; }
  html:not(.search-compact-active) .nav-scroll::-webkit-scrollbar-thumb:hover { background: var(--custom_top_nav_fg)!important; border-radius: 10px!important; }
  html:not(.search-compact-active) .nav-scroll::-webkit-scrollbar-thumb:horizontal{ background: var(--custom_top_nav_fg)!important; border-radius: 10px!important; }
  .nav-scroll > li > ul  { top: calc(100% - 4px)!important; }
  .nav-scroll > li { display: flex!important }
  .nav-scroll > li.sub-static.show-all { display: none!important }
  .nav-scroll::before,
  .nav-scroll::after {
    content: '' !important;
    position: absolute!important;
    display: block!important;
    top: 0;
    bottom: 4px;
    width: 50px; /* Adjust the width of shadows */
    pointer-events: none;
    z-index: 4;
  }
  html.has-first-m6fr-wide:not(:is(.tr_hh)):not(:has(.shopify-section-group-header-group.fixed)) .nav-scroll::before, html.has-first-m6fr-wide:not(:is(.tr_hh)):not(:has(.shopify-section-group-header-group.fixed)) .nav-scroll::after {
    display: none!important
  }

  #nav-bar .nav-scroll::before { left: 0; background: linear-gradient(to left, #ffffff00, var(--custom_top_main_bg)); }
  #nav-bar.bm-a .nav-scroll::before { background: linear-gradient(to left, #ffffff00, var(--custom_top_nav_bg)); }
  #nav .nav-scroll::before { background: linear-gradient(to left, #ffffff00, var(--custom_top_nav_bg)); }
  #nav-bar .nav-scroll::after { right: calc(var(--nav_dist)* 2); background: linear-gradient(to right, #ffffff00, var(--custom_top_main_bg)); }
  #nav-bar.bm-a .nav-scroll::after { background: linear-gradient(to right, #ffffff00, var(--custom_top_nav_bg)); }
  #nav .nav-scroll::after { background: linear-gradient(to right, #ffffff00, var(--custom_top_nav_bg)); }
  .nav-scroll[data-type="main-nav"]::after, #nav-bar.bm-a .nav-scroll::after { right: 0; }
  .nav-scroll.start:before, .nav-scroll.end:after, .nav-scroll.no-scroll:before, .nav-scroll.no-scroll:after { display: none!important; }
  #header-inner #nav-bar .nav-scroll:not(.no-scroll) > li { border-bottom: 8px solid rgba(0, 0, 0, 0)!important; }

  .nav-scroll-wrapper.dropdown:has(.nav-scroll) > ul:not(.no-scroll) > li:not(.promo) { position: static!important }
  .nav-scroll-wrapper.dropdown:has(.nav-scroll) > ul:not(.no-scroll) > li:not(.promo) > ul { visibility: hidden; left: unset; right: unset!important }
  .nav-scroll-wrapper.dropdown:has(.nav-scroll) > ul.no-scroll > li:not(.promo) > ul { right: var(--rpn); left: auto!important;}
  #header-outer:has(.nav-scroll) #header-inner.logo-text:not(.text-center-logo) #logo { flex-shrink: 0 }
}

figure.img-multiply-bg:before, picture.img-multiply-bg:before, picture.img-multiply-bg.s4wi .swiper-slide a:before { background: var(--multiply_bg_product); } /* Product/collection image multiply background custom color palette 1/2 */
.category figure.img-multiply-bg:before, .category picture.img-multiply-bg:before, .category picture.img-multiply-bg.s4wi .swiper-slide a:before { background: var(--multiply_bg_collection); } /* Product/collection image multiply background custom color palette 2/2 */

/* Support Syncer app: Wishlist */
.wishlist-header.hidden, .wishlist-productpage.hidden, .wishlist-productcard.hidden { display: none!important; }
.l4cl .wishlist-productcard { --size: 32px; min-width: var(--size); min-height: var(--size); margin: 0; padding: 0; border-radius: 99px !important; }
.l4cl .wishlist-productcard { position: absolute; left: auto; right: var(--label_dist); top: var(--label_dist); z-index: 100; width: var(--size); height: var(--size); direction: ltr; --btn_br: 999px; }
.l4cl .wishlist-productcard i { margin-left: 0; font-size: calc(var(--size) * 0.4680851064); margin-top: calc(0px - var(--size)* 0.5); }
.l4cl figure:has(.wishlist-productcard:not(.hidden)) .s1lb { max-width: calc(100% - calc(var(--label_dist) * 2) - 32px); }
html:is([data-theme="xtra"], [data-theme="xclusive"]) .wishlist-productpage > a { position: relative; }
html:is([data-theme="xtra"], [data-theme="xclusive"]) .wishlist-productpage > a:before { content: ""; position: absolute; display: block; top: -16px; right: 0; bottom: -16px; left: -16px; }
@media only screen and (max-width: 47.5em) {
  #header-inner.text-center-mobile:has(.wishlist-header:not(.hidden)) #logo a { justify-content: center; }
  #header-inner.text-center-mobile:has(.wishlist-header:not(.hidden)) #logo picture { max-width: calc(100% - 20px) !important; }
}


.l4ca.l4ca-bundle { border-bottom-width: 0; }
.l4ca .l4ca { /* in async-hovers.css now, can be removed later 1/2 */
  margin-bottom: 0;
  border-top-width: 0;
  margin-top: calc(0px - var(--pt)* .5);
}
#root .l4ca .l4ca li { /* in async-hovers.css now, can be removed later 2/2 */
  padding-top: 0;
}
@media only screen and (min-width: 760px) {
  .l4ca > li.no-image + li.has-l4ca {
    padding-left: 0;
  }
  .form-cart.f8vl .l4ca > li:not(.no-image) + li.has-l4ca .l4ca-bundle {
    margin-top: calc(0px - var(--pt)* 2);
  }
}
.l4ca.l4ca-bundle + footer {
  border: 0!important;
}
.l4ca.l4ca-bundle h3 {
  margin-bottom: 0;
}
.l4ca.compact.l4ca-bundle>li.has-l4ca{
  padding-left: 0;
}
@media only screen and (max-width: 760px) {
  .l4ca h1 a, .l4ca h2 a, .l4ca h3 a, .l4ca h4 a, .l4ca h5 a, .l4ca h6 a {
    white-space: normal;
  }

}

#root .l4cl.box.no-border > li {
  --pd: var(--main_mr_half);
  padding-left: 0;
  padding-right: 0;
}
#root .l4cl.box.no-border> li:only-child {
  padding: 0;
}
#root .l4cl.box.no-border > li:before {
  display: none;
}
#root .l4cl.box.no-border > li:not(.link-more) > *:first-child {
  border-left-width: 0;
}


.l4ca li.nested {
  padding: 0 0 0 calc(var(--img_w) + var(--img_d));
}
.l4ca.compact li.nested {
  --img_w: calc(var(--offset) - var(--img_d));
  padding-top: var(--pt);
}
.l4ca li.nested figure {
  --img_w: 60px;
}
.l4ca.compact li.nested figure {
  --img_w: 35px;
  width: var(--img_w);
}
.l4ca li.nested:before {
  border-top-width: 0;  
}
.l4ca li.nested h2 {
  font-size: var(--size_12_f);
}
.l4ca li.nested h2, .l4ca li.nested header + ul {
  margin-bottom: 0;
}
.l4ca li.nested footer {
  padding-left: 0;
}
@media only screen and (max-width: 760px) {
  .l4ca li.nested figure {
    --img_w: 40px;
  }
}